* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}


body {
background: #b7e5f3 !important;
min-height: 100vh;
display: flex;
font-weight: 400;
font-family: 'Fira Sans', sans-serif;
}

.homepic{
    align-items: right;
    justify-content: right;
    height: 100px;
    max-width: 1730px;
    position: absolute;
    right: 0px;
    padding: 6px;
    transform: translate(0%, 3%);
}


.footer-link-items {
  background-position: center;
  position: relative;
  align-items: right;
  justify-content: right;
  margin: 160px;
  text-align: center;
  width: 1600px;
  box-sizing: border-box;
}
.nav-links {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}









